.nextcard{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn{
    padding:5px 20px;
    background-color: rgb(35, 35, 145);
    color: white;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(156, 156, 229);
    color: black;
}